* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header-top header-top" "sidebar-nav content-main" "footer-bottom footer-bottom";
}

.header.dark {
  background-color: black;
}

.header {
  grid-area: header-top;
  background-color: #2b4865;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50px;
  position: relative;
}
.header .title {
  color: #8fe3cf;
}
.header .check-switch {
  opacity: 0;
  position: absolute;
  right: 20px;
}
.header .check-switch:checked + .theme-switcher .circle {
  transform: translatex(24px);
}
.header .theme-switcher {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #223a51;
  right: 30px;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  padding: 5px;
  right: 15px;
}
.header .circle {
  position: absolute;
  background-color: #8fe3cf;
  height: 22px;
  width: 22px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.header .fa-moon,
.header .fa-sun {
  color: #f5f5dc;
}

.sidebar.dark {
  background-color: black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: sidebar-nav;
  background-color: #2b4865;
  overflow: auto;
}
.sidebar .menu-items {
  margin-top: 50px;
}
.sidebar .menu-items .nav-item {
  border-bottom: 1px solid #f5f5dc;
  width: 200px;
  margin: 10;
}

.nav-item {
  height: 20px;
  color: #8fe3cf;
  margin-bottom: 50px;
  font-size: 18px;
}
.nav-item :hover {
  cursor: pointer;
  color: #f5f5dc;
}

.nav-item.open {
  color: #f5f5dc;
}

.content {
  grid-area: content-main;
  background-color: #f5f5dc;
}

.content-body {
  margin: 40px 40px 0 40px;
}
.content-body .museum-desc {
  line-height: 1.6rem;
}

.footer.dark {
  background-color: black;
}

.footer {
  grid-area: footer-bottom;
  background-color: bisque;
  text-align: center;
  background-color: #2b4865;
  height: 4vh;
  display: table;
}
.footer .footer-link {
  color: #8fe3cf;
  display: table-cell;
  vertical-align: middle;
}
