.content {
    grid-area: content-main;
    background-color: #F5F5DC;
}


.content-body {
    .content-text {
        line-height: 1.6;
    }

    // .content-header {

    // }

    // .content-image {

    // }
}


