.content.dark {
  background-color: #32393d;
}

.content {
  grid-area: content-main;
  background-color: #f5f5dc;
}

.content-body {
    margin: 40px 40px 0 40px;
  .museum-desc {
    line-height: 1.6rem;
  }
}
