.footer.dark {
  background-color: #150c25;
}

.footer {
  grid-area: footer-bottom;
  background-color: bisque;
  text-align: center;
  background-color: #2b4865;
  height: 4vh;
  display: table;

  .footer-link {
    color: #8fe3cf;
    display: table-cell;
    vertical-align: middle;
  }
}
