.sidebar.dark {
  background-color: black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: sidebar-nav;
  background-color: #2b4865;
  overflow: auto;

  .menu-items {
    margin-top: 50px;
  }
}
