.sidebar.dark {
  background-color: black;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: sidebar-nav;
  background-color: #2b4865;
  overflow: auto;

  .menu-items {
    margin-top: 50px;

    .nav-item {
        border-bottom: 1px solid #f5f5dc;
        width: 200px;
        margin: 10;
    }
  }
}

.nav-item {
    height: 20px;
    color: #8fe3cf;
    margin-bottom: 50px;
    font-size: 18px;

    & :hover {
        cursor: pointer;
        color: #f5f5dc;
    }
}

.nav-item.open {
    color: #f5f5dc;
}








