@import "reset_default";

body {
  font-family: Montserrat, sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header-top header-top' 
    'sidebar-nav content-main' 
    'footer-bottom footer-bottom'
}

@import 'header';


@import 'sidebar', 'content';


@import 'footer';
