.content.dark {
  background-color: #04293a;
}

.content {
  display: flex;
  grid-area: content-main;
  background-color: #f5f5dc;
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.content-body.dark {
  .museum-desc,
  .museum-title,
  .museum-link {
    color: #f5f5dc;
  }

  .museum-image {
    filter: brightness(45%);
  }
}

.content-body {
  position: relative;
  margin: 40px 40px 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "desc desc"
    "more more";

  .museum-title {
    display: grid;
    grid-area: title;
  }

  .desc-wrapper {
    grid-area: desc;
    line-height: 1.6rem;
    overflow-wrap: normal;
    margin-top: 20px;

    .museum-image {
      float: left;
    }
  }

  .additional-wrapper {
    justify-self: flex-end;
    align-self: flex-end;
    grid-area: more;
    margin-bottom: 20px;
  }
}

.museum-link a {
  color: darkgoldenrod;
}

.inner-link:hover {
  color: #ff69b4;
}
