.content.dark {
  background-color: #04293a;
}

.content {
  display: flex;
  grid-area: content-main;
  background-color: #f5f5dc;
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.content-body.dark {
  .museum-desc,
  .museum-title,
  .museum-link {
    color: #f5f5dc;
  }

  .museum-image {
    filter: brightness(45%);
  }
}

.content-body {
  position: relative;
  margin: 4rem 4rem 0 4rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "title title"
    "desc desc"
    "more more";
}

.museum-title {
  display: grid;
  grid-area: title;
}

.desc-wrapper {
  grid-area: desc;
  line-height: 1.6;
  font-size: 1.75rem;
  overflow-wrap: break-word;
  margin-top: 20px;
}

.museum-image {
  float: left;
  margin: 0 1.5rem 1.5rem 0;
  width: 450px;
}

.additional-wrapper {
  justify-self: flex-end;
  align-self: flex-end;
  grid-area: more;
  margin-bottom: 2rem;
  margin-top: 8rem;
}

.museum-link a {
  color: darkgoldenrod;
}

.inner-link:hover {
  color: #ffc0cb;
}

.inner-link:focus {
  color: #ffc0cb;
  border-bottom: 1px solid #ffc0cb;
}
