.footer.dark {
  background-color: #041c32;
}

.footer {
  grid-area: footer-bottom;
  text-align: center;
  background-color: #2b4865;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-link {
    color: #8fe3cf;

    & :hover {
      color: #f5f5dc;
    }
  }
}

.footer-link:focus {
  color: #ffc0cb;
  border-bottom: 1px solid #ffc0cb;
}
