@media screen and (max-width: 1400px) {
  .wrapper {
    grid-template-columns: 1fr 4fr;
  }

  .content-body {
    grid-template-rows: 80px 1fr 0.5fr;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
  }

  .content-body {
    grid-template-rows: 60px 1fr 100px;
  }
}

@media screen and (max-width: 920px) {
  .nav-item {
    width: 16rem;
  }

  .content-body {
    gap: 10px;
    .desc-wrapper {
      font-size: 1.9rem;

      .museum-image {
        display: block;
        float: none;
        width: 450px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    grid-template-areas:
      "header-top header-top"
      "content-main content-main"
      "footer-bottom footer-bottom";
  }

  .dropdown {
    display: inline;
  }

  .sidebar {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  .sidebar.active {
    width: 200px;
    text-align: left;
    visibility: visible;
    z-index: 10;
    top: 55px;
    left: 10px;
    border-radius: 10px;
    border: 1px solid #223a51;
    opacity: 1;
    transition: opacity 0.2s linear;
    box-shadow: 0 0 5px 1px #223a51;
  }

  .content {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media screen and (max-width: 576px) {
  .header {
    .title {
      font-size: 2.5rem;
    }
  }
  .content-body {
    grid-template-rows: 100px 1fr 100px;
  }
}

@media screen and (max-width: 508px) {
  .header {
    .title {
      font-size: 1.8rem;
    }
  }
  
  .content-body {
    grid-template-rows: auto auto auto;
    row-gap: 0;

    .desc-wrapper {
      .museum-image {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 356px) {
  #root {
    font-size: 50%;
  }

  .content-body {
    margin: 2rem 2rem 0 2rem;
  }
}

@media screen and (max-width: 290px) {
  #root {
    font-size: 43%;
  }

  .content-body {
    .desc-wrapper {
      font-size: 2rem;
    }
  }

  .museum-link {
    font-size: 1.6rem;
  }
}
