@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
  }

  .content-body {
    grid-template-rows: 60px 1fr 100px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
  }

  .nav-item {
    width: 16rem;
  }

  .content-body {
    grid-template-rows: 60px 1fr 100px;
    gap: 10px;
  }

  .desc-wrapper {
    font-size: 1.9rem;
  }

  .museum-image {
    display: block;
    float: none;
    width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .wrapper {
    grid-template-areas:
      "header-top header-top"
      "content-main content-main"
      "footer-bottom footer-bottom";
  }

  .content-body {
    grid-template-rows: auto 1fr 100px;
  }

  .museum-image {
    display: block;
    float: none;
    width: 400px;
  }

  .dropdown {
    display: inline;
  }

  .sidebar {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  .sidebar.active {
    width: 220px;
    text-align: left;
    visibility: visible;
    z-index: 10;
    top: 55px;
    left: 10px;
    border-radius: 10px;
    border: 1px solid #223a51;
    opacity: 1;
    transition: opacity 0.2s linear;
    box-shadow: 0 0 5px 1px #223a51;
  }

  .content {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .title {
    font-size: 2.1rem;
  }

  .content-body {
    grid-template-rows: auto 1fr 100px;
  }

  .museum-image {
    display: block;
    float: none;
    width: 100%;
  }
}
