.sidebar.dark {
  background-color: #041c32;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: sidebar-nav;
  background-color: #2b4865;
  overflow-y: hidden;
}

.menu-items {
  margin-top: 50px;
}

.nav-item {
  border-bottom: 1px solid #f5f5dc;
  width: 20rem;
  margin: 10;
}

.nav-item {
  height: 2rem;
  color: #8fe3cf;
  margin-bottom: 5rem;
  font-size: 1.8rem;

  & :hover {
    cursor: pointer;
    color: #f5f5dc;
  }

  & :focus {
    color: #ff69b4;
  }
}

.nav-item.open {
  color: #f5f5dc;
}
