@import "reset_default";

:root {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

.body {
  height: 100%;
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
  background-color: #2b4865;
}

.body.dark {
  background-color: #041c32;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header-top header-top"
    "sidebar-nav content-main"
    "footer-bottom footer-bottom";
}

@import "header", "sidebar", "content", "footer", "media";
