@import "reset_default";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
  background-color: #2b4865;
}

body.dark {
  background-color: #041c32;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header-top header-top"
    "sidebar-nav content-main"
    "footer-bottom footer-bottom";
}

@import "header", "sidebar", "content", "footer", "media";
